<!DOCTYPE html>
<html lang="en">
{% block header %}{% endblock %}
<head>
    
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <ul class="navbar-nav">
        {% if g.user %}
        <li class="nav-item">
            <a class="nav-link" href=".index.html">HOME</a>
        </li>
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('logout') }}">Log Out</a>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('/')}}g.user['name']">Profile</a>
        </li>

        {% else %}
        <li class="nav-item">
        <a class="nav-link" href=".index.html">HOME</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        {% endif %}
    </ul>
  </nav>
  <br>

  <div class = "container-fluid top-container" style="margin-top:80px">  
      {% block content %}
      {% endblock %}
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes style="margin-top: 20px;">
        {% for message in messages %}
          <li><strong>{{ message }}</strong></li>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
    </div>



<div class="container-fluid" >
  <footer>
    <p style="margin-top:50px">Created by: Zhihong Li<br></p>
    <p>Copyright © 2020 Zhihong Li All Rights Reserved.</p>
    <a href="zhihongli@bennington.edu">Email</a>
  </footer>
</div>

</body>
</html>