{% extends "layout.html" %}

{% block header %}
  {% block title %}{{username}} - Vangle{% endblock %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="container-fluid">
  <h1> {{username}} </h1>
  <h2> Tracks</h2>
  </div>
  {% if g.user['username'] == username %}
  <a class ='action' href="{{url_for('upload')}}">Upload</a>
  {% endif %}
  </div>
  <ul class="list-group">
    {% for track in tracks %}
      <li class="list-group-item">
        <h5>{{track['filename']}}</h5>
        {% if g.user['_id'] == track['artist_id'] %}
        {% endif %}
        <audio controls>
          <source src="{{url_for('fetch_music', music_file_id=track['_id'])}}" type="audio/mpeg">
        </audio>
        <form id="delete_track" action="{{ url_for('delete', music_file_id=track['_id'])}}" 
          method="POST">
          <input type="submit" value="Delete" />
        </form>
      </li>
    {% endfor%}
  </ul>
</div>
{% endblock %}

{% block javascript %} 


{% endblock %}

<!-- <source src="{{sound_track_obj_id}}" type="audio/mpeg"> -->

