{% extends "layout.html" %}

{% block header %}
  <h1>{% block title %}{{username}} - Vangle{% endblock %}</h1>
{% endblock %}

{% block content %}

  <h1> Welcome back! {{username}} </h1>
  <h2> Tracks</h2>

  {% if g.user %}
  <a class ='action' href="{{url_for('upload')}}">Upload</a>
  {% endif %}

  <ul style="margin-top: 1%;">
    {% for sound_track_title, sound_track_obj_id in sound_track_list %}
      <li>
        <p>{{sound_track_title}}</p>
        <audio controls>
          <source src="{{sound_track_obj_id}}" type="audio/mpeg">
              Your browser does not support the audio element.
        </audio>
      </li>
    {% endfor%}
  </ul>

{% endblock %}
