{% extends "layout.html" %}

{% block header %}
  <h1>{% block title %}{{username}} - Vangle{% endblock %}</h1>
{% endblock %}

{% block content %}

  <h1> {{username}} </h1>
  <h2> Tracks</h2>

  {% if g.user['username'] == username %}
  <a class ='action' href="{{url_for('upload')}}">Upload</a>
  {% endif %}

  <ul>
    {% for track in tracks %}
      <li>
        <p>{{track['filename']}}</p>
        {% if g.user['_id'] == track['artist_id'] %}
        <form id="delete_track" action="{{ url_for('delete', music_file_id=track['_id'])}}" 
          method="POST">
          <input type="submit" value="Delete" />
        </form>
        {% endif %}
        <audio controls>
          <source src="{{url_for('fetch_music', music_file_id=track['_id'])}}" type="audio/mpeg">
        </audio>
      </li>
    {% endfor%}
  </ul>

{% endblock %}

{% block javascript %} 


{% endblock %}

<!-- <source src="{{sound_track_obj_id}}" type="audio/mpeg"> -->

