{% extends "layout.html" %}

{% block content %}

  <h1> Welcome, {{username}}! </h1>
  <h2> My Tracks</h2>
  <ol>
    {% for sound_track_title, sound_track_obj_id in sound_track_list %}
      <li>
        <p>{{sound_track_title}}</p>
        <audio controls>
          <source src="{{sound_track_obj_id}}" type="audio/mpeg">
              Your browser does not support the audio element.
        </audio>

      </li>
    {% endfor%}
    
  </ol>

{% endblock %}
<!-- 
    foe only one song
    <audio controls>
    <source src="{{song}}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio> 


  dynamic link with url_for
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
 

-->
