<!DOCTYPE html>
<html>
<head>
<title>{{username}} - SoundCloud</title>
</head>
<body>
  <h1> Welcome, {{username}}! </h1>
  <h2> My Tracks</h2>
  <ol>
    {% for sound_track_title, sound_track_obj_id in sound_track_list %}
      <li>
        <p>{{sound_track_title}}</p>
        <audio controls>
          <source src="{{sound_track_obj_id}}" type="audio/mpeg">
              Your browser does not support the audio element.
        </audio>

      </li>
    {% endfor%}
    
  </ol>
</body>
</html>


<!-- 
    foe only one song
    <audio controls>
    <source src="{{song}}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio> 
-->
