
{% extends "layout.html" %}

{% block header %}
  {% block title %}Upload - SoundCloud - Vangle{% endblock %}
{% endblock %}


{% block content %}
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <label for="track title"><h5>Track Title</h5></label><br>
        <input type="text" name="track title" required><br>
        <p>Click on the "Choose file" button to upload the audio track file:</p>
        <input type="file" name="music_file" accept= "audio/*" required>
      <input type="submit" value="Upload">
    </form>
{% endblock %}



<!-- 
    https://www.w3schools.com/html/html_forms.asp
-->
